<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.qry.ProduceAdminPunishExpandMapper" >
  <resultMap id="BaseResultMap" type="com.sofn.model.generator.AlesProduceAdminPunish" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="PUNISH_CODE" property="punishCode" jdbcType="VARCHAR" />
    <result column="LEGAL_PERSON" property="legalPerson" jdbcType="VARCHAR" />
    <result column="CASE_NAME" property="caseName" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="CHAR" />
    <result column="MANUFACTURE_DATE" property="manufactureDate" jdbcType="VARCHAR" />
    <result column="PUNISH_QUALITATIVE" property="punishQualitative" jdbcType="VARCHAR" />
    <result column="PUNISH_RESULT" property="punishResult" jdbcType="VARCHAR" />
    <result column="PUNISH_FILES" property="punishFiles" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="CHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="CHAR" />
    <result column="ENTERPRISE_CODE" property="enterpriseCode" jdbcType="VARCHAR" />
    <result column="ENFORCE_LAW_ID" property="enforceLawId" jdbcType="CHAR" />
    <result column="ENFORCE_LAW_PEOPLE" property="enforceLawPeople" jdbcType="VARCHAR" />
    <result column="ENFORCE_LAW_TIME" property="enforceLawTime" jdbcType="TIMESTAMP" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="BaseResultMapDto" type="com.sofn.model.qry.AlesProduceAdminPunishDto" extends="BaseResultMap">
      <result column="ENTITY_INDUSTRY_NAME" property="entityIndustryName"/>
      <result column="ENTITY_TYPE_NAME" property="entityTypeName"/>
  </resultMap>
  <select id="getProduceAdminPunishAllList" resultType="map">
    SELECT *
    FROM (
    SELECT
    m.*, ROWNUM AS rn FROM (
    SELECT * FROM (
    SELECT
     s.*, ENTITY_INDUSTRY_NAME,ENTITY_TYPE_NAME,AREA
    FROM ALES_PRODUCE_ADMIN_PUNISH s
    ,TTS_SCLTXXCJ_REGISTER_V2 t
    WHERE 1=1
    AND  trim(s.ENTERPRISE_CODE) = trim(t.ENTITY_IDCODE)
    <if test="queryCon!=null and queryCon!=''">
      AND s.CASE_NAME like '%'||#{queryCon}||'%'
    </if>
    <if test="taskYear!=null and taskYear!=''">
      AND s.ENFORCE_LAW_TIME  BETWEEN to_date(#{taskYear}||'0101','yyyyMMdd') AND add_months(to_date(#{taskYear}||'0101','yyyyMMdd'),12)
    </if>
    <if test="dateBegin!=null and dateBegin!=''">
      AND s.ENFORCE_LAW_TIME &gt;=to_date(#{dateBegin},'yyyy-MM-dd')
    </if>
    <if test="dateEnd!=null and dateEnd!=''">
      AND s.ENFORCE_LAW_TIME &lt;=(to_date(#{dateEnd},'yyyy-MM-dd'))+1
    </if>
    <if test="area!=null and area!=''">
      AND t.AREA like '%'||#{area}||'%'
    </if>
    <if test="entityIndustry!=null and entityIndustry.length>0">
      and
      <foreach collection="entityIndustry" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_INDUSTRY like '%'||#{item}||'%'
      </foreach>
    </if>
    <if test="entityType!=null and entityType.length>0">
      and
      <foreach collection="entityType" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_TYPE like '%'||#{item}||'%'
      </foreach>
    </if>
    union all
    SELECT
    s.*,t.ENTITY_INDUSTRY as ENTITY_INDUSTRY_NAME,t.ENTITY_TYPE as ENTITY_TYPE_NAME,t.AREA_ID as AREA
    FROM ALES_PRODUCE_ADMIN_PUNISH s
    ,ASMS_SUBJ_ENT_TEMP t
    where 1=1
    AND trim(s.ENTERPRISE_CODE) = trim(t.IDENTITY_CODE)
    <if test="queryCon!=null and queryCon!=''">
      AND s.CASE_NAME like '%'||#{queryCon}||'%'
    </if>
    <if test="taskYear!=null and taskYear!=''">
      AND s.ENFORCE_LAW_TIME  BETWEEN to_date(#{taskYear}||'0101','yyyyMMdd') AND add_months(to_date(#{taskYear}||'0101','yyyyMMdd'),12)
    </if>
    <if test="dateBegin!=null and dateBegin!=''">
      AND s.ENFORCE_LAW_TIME &gt;=to_date(#{dateBegin},'yyyy-MM-dd')
    </if>
    <if test="dateEnd!=null and dateEnd!=''">
      AND s.ENFORCE_LAW_TIME &lt;=(to_date(#{dateEnd},'yyyy-MM-dd'))+1
    </if>
    <if test="area!=null and area!=''">
      AND t.AREA_ID like '%'||#{area}||'%'
    </if>
    <if test="entityIndustry!=null and entityIndustry.length>0">
      and
      <foreach collection="entityIndustry" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_INDUSTRY like '%'||#{item}||'%'
      </foreach>
    </if>
    <if test="entityType!=null and entityType.length>0">
      and
      <foreach collection="entityType" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_TYPE like '%'||#{item}||'%'
      </foreach>
    </if>
    ) f ORDER BY f.CREATE_TIME DESC) m
    )
    WHERE rn BETWEEN 1+#{pageSize}*(#{pageNum}-1) AND #{pageSize}*#{pageNum}
  </select>
  <select id="getProduceAdminPunishAllCount" resultType="long">
    SELECT sum(c) FROM (
    SELECT COUNT(*) as c FROM ALES_PRODUCE_ADMIN_PUNISH s
    ,TTS_SCLTXXCJ_REGISTER_V2 t
    WHERE 1=1
    and trim(s.ENTERPRISE_CODE) = trim(t.ENTITY_IDCODE)
    <if test="queryCon!=null and queryCon!=''">
      AND s.CASE_NAME like '%'||#{queryCon}||'%'
    </if>
    <if test="taskYear!=null and taskYear!=''">
      AND s.ENFORCE_LAW_TIME BETWEEN to_date(#{taskYear}||'0101','yyyyMMdd') AND
      add_months(to_date(#{taskYear}||'0101','yyyyMMdd'),12)
    </if>
    <if test="dateBegin!=null and dateBegin!=''">
      AND s.ENFORCE_LAW_TIME &gt;=to_date(#{dateBegin},'yyyy-MM-dd')
    </if>
    <if test="dateEnd!=null and dateEnd!=''">
      AND s.ENFORCE_LAW_TIME &lt;=to_date(#{dateEnd},'yyyy-MM-dd')
    </if>
    <if test="area!=null and area!=''">
      AND t.AREA like '%'||#{area}||'%'
    </if>
    <if test="entityIndustry!=null and entityIndustry.length>0">
      and
      <foreach collection="entityIndustry" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_INDUSTRY like '%'||#{item}||'%'
      </foreach>
    </if>
    <if test="entityType!=null and entityType.length>0">
      and
      <foreach collection="entityType" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_TYPE like '%'||#{item}||'%'
      </foreach>
    </if>
    UNION ALL
    SELECT COUNT(*) as c FROM ALES_PRODUCE_ADMIN_PUNISH s
    ,ASMS_SUBJ_ENT_TEMP t
    WHERE 1=1
    and trim(s.ENTERPRISE_CODE) = trim(t.IDENTITY_CODE)
    <if test="queryCon!=null and queryCon!=''">
      AND s.CASE_NAME like '%'||#{queryCon}||'%'
    </if>
    <if test="taskYear!=null and taskYear!=''">
      AND s.ENFORCE_LAW_TIME BETWEEN to_date(#{taskYear}||'0101','yyyyMMdd') AND
      add_months(to_date(#{taskYear}||'0101','yyyyMMdd'),12)
    </if>
    <if test="dateBegin!=null and dateBegin!=''">
      AND s.ENFORCE_LAW_TIME &gt;=to_date(#{dateBegin},'yyyy-MM-dd')
    </if>
    <if test="dateEnd!=null and dateEnd!=''">
      AND s.ENFORCE_LAW_TIME &lt;=to_date(#{dateEnd},'yyyy-MM-dd')
    </if>
    <if test="area!=null and area!=''">
      AND t.AREA_ID like '%'||#{area}||'%'
    </if>
    <if test="entityIndustry!=null and entityIndustry.length>0">
      and
      <foreach collection="entityIndustry" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_INDUSTRY like '%'||#{item}||'%'
      </foreach>
    </if>
    <if test="entityType!=null and entityType.length>0">
      and
      <foreach collection="entityType" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_TYPE like '%'||#{item}||'%'
      </foreach>
    </if>
    )
  </select>

  <select id="getPunishById" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    s.*,t.AREA,t.ENTERPRISE_NAME NAME_ENTERPRISE
    FROM ALES_PRODUCE_ADMIN_PUNISH s
    LEFT JOIN TTS_SCLTXXCJ_REGISTER_V2 t
    ON trim(s.ENTERPRISE_CODE) = trim(t.ENTITY_IDCODE)
    where s.ID = #{id}
  </select>
  <select id="getAllProduceAdminPunishList" resultMap="BaseResultMapDto">
    SELECT
    *
    FROM ALES_PRODUCE_ADMIN_PUNISH s
    LEFT JOIN TTS_SCLTXXCJ_REGISTER_V2 t
    ON trim(s.ENTERPRISE_CODE) = trim(t.ENTITY_IDCODE)
    WHERE 1=1
    <if test="queryCon!=null and queryCon!=''">
      AND s.CASE_NAME like '%'||#{queryCon}||'%'
    </if>
    <if test="taskYear!=null and taskYear!=''">
      AND s.ENFORCE_LAW_TIME  BETWEEN to_date(#{taskYear}||'0101','yyyyMMdd') AND add_months(to_date(#{taskYear}||'0101','yyyyMMdd'),12)
    </if>
    <if test="dateBegin!=null and dateBegin!=''">
      AND s.ENFORCE_LAW_TIME &gt;=to_date(#{dateBegin},'yyyy-MM-dd')
    </if>
    <if test="dateEnd!=null and dateEnd!=''">
      AND s.ENFORCE_LAW_TIME &lt;=(to_date(#{dateEnd},'yyyy-MM-dd'))+1
    </if>
    <if test="area!=null and area!=''">
      AND t.AREA like '%'||#{area}||'%'
    </if>
    <if test="entityIndustry!=null and entityIndustry.length>0">
      and
      <foreach collection="entityIndustry" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_INDUSTRY like '%'||#{item}||'%'
      </foreach>
    </if>
    <if test="entityType!=null and entityType.length>0">
      and
      <foreach collection="entityType" item="item" index="index" open="(" close=")" separator="or">
        ENTITY_TYPE like '%'||#{item}||'%'
      </foreach>
    </if>
    order by s.CREATE_TIME DESC
  </select>
</mapper>