<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.asms.AsmsSubjEntBadrecordExpandMapper" >
  <resultMap id="BaseResultMap" type="com.sofn.model.generator.AsmsSubjEntBadrecord" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="BADRECORD_CONTENT" property="badrecordContent" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="BADRECORD_FILE" property="badrecordFile" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
    <result column="SOURCE_ID" property="sourceId" jdbcType="VARCHAR" />
    <result column="SOURCE_TYPE" property="sourceType" jdbcType="CHAR" />
    <result column="BADRECORD_FILE_NAME" jdbcType="VARCHAR" property="badrecordFileName" />
  </resultMap>
  <select id="selectAllByCondition" parameterType="hashmap" resultType="map">
    SELECT b.*
    FROM (
    SELECT a.*,ROWNUM rn
    FROM (
    SELECT
    t.id,t.ENTERPRISE_NAME,t.ENTITY_INDUSTRY_NAME,t.ENTITY_TYPE_NAME,t.ENTITY_SCALE_NAME,t.ENTITY_IDCODE,t.AREA,t.CREATE_TIME
    FROM TTS_SCLTXXCJ_REGISTER_V2 t
    WHERE t.id IN (
    SELECT distinct enterprise_id FROM ASMS_SUBJ_ENT_BADRECORD)
    AND t.DEL_FLAG='N'
    <if test="area!=null and area!=''">
        AND t.AREA like #{area}||'%'
    </if>
    <if test="queryCon!=null and queryCon!=''">
      AND (t.ENTERPRISE_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_INDUSTRY_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_SCALE_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_TYPE_NAME like '%'||#{queryCon}||'%')
    </if>
    <if test="entityIndustry!=null and entityIndustry!=''">
      AND t.ENTITY_INDUSTRY like '%'||#{entityIndustry}||'%'
    </if>
    <if test="entityType!=null and entityType!=''">
      AND t.ENTITY_TYPE  =#{entityType}
    </if>
    UNION ALL
    SELECT
    t.id,t.ENTITY_NAME AS ENTERPRISE_NAME,t.ENTITY_INDUSTRY AS ENTITY_INDUSTRY_NAME,t.ENTITY_TYPE AS ENTITY_TYPE_NAME,t.ENTITY_SCALE AS ENTITY_SCALE_NAME,t.IDENTITY_CODE AS ENTITY_IDCODE,t.AREA_ID AS
    AREA,t.Create_Time AS CREATE_TIME
    FROM ASMS_SUBJ_ENT_TEMP t
    WHERE t.id IN (
    SELECT distinct enterprise_id FROM ASMS_SUBJ_ENT_BADRECORD)
    AND t.DEL_FLAG='N'
    <if test="area!=null and area!=''">
      AND t.AREA_ID like #{area}||'%'
    </if>
    <if test="queryCon!=null and queryCon!=''">
      AND (t.ENTITY_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_INDUSTRY like '%'||#{queryCon}||'%'OR t.ENTITY_SCALE like '%'||#{queryCon}||'%'OR t.ENTITY_TYPE like '%'||#{queryCon}||'%')
    </if>
    <if test="entityIndustry!=null and entityIndustry!=''">
      AND t.ENTITY_INDUSTRY_ID like '%'||#{entityIndustry}||'%'
    </if>
    <if test="entityType!=null and entityType!=''">
      AND t.ENTITY_TYPE_ID  =#{entityType}
    </if>
    ) a
    WHERE ROWNUM &lt;= #{pageSize}*#{pageNum}
    ORDER BY CREATE_TIME DESC
    ) b
    WHERE b.rn >= 1+#{pageSize}*(#{pageNum}-1)
  </select>

  <select id="getAsmsSubjEntBadrecordCount" parameterType="hashmap" resultType="long">
    SELECT sum(c) FROM (
    SELECT COUNT(*) AS c FROM  TTS_SCLTXXCJ_REGISTER_V2 t WHERE t.id IN (
    SELECT distinct enterprise_id FROM ASMS_SUBJ_ENT_BADRECORD)
    AND t.DEL_FLAG='N'
    <if test="area!=null and area!=''">
      AND t.AREA like #{area}||'%'
    </if>
    <if test="queryCon!=null and queryCon!=''">
      AND (t.ENTERPRISE_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_INDUSTRY_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_SCALE_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_TYPE_NAME like '%'||#{queryCon}||'%')
    </if>
    <if test="entityIndustry!=null and entityIndustry!=''">
      AND t.ENTITY_INDUSTRY like '%'||#{entityIndustry}||'%'
    </if>
    <if test="entityType!=null and entityType!=''">
      AND t.ENTITY_TYPE=#{entityType}
    </if>
    UNION ALL
    SELECT COUNT(*) AS c FROM ASMS_SUBJ_ENT_TEMP t WHERE t.id IN (
    SELECT distinct enterprise_id FROM ASMS_SUBJ_ENT_BADRECORD)
    AND t.DEL_FLAG='N'
    <if test="area!=null and area!=''">
      AND t.AREA_ID like #{area}||'%'
    </if>
    <if test="queryCon!=null and queryCon!=''">
      AND (t.ENTITY_NAME like '%'||#{queryCon}||'%'OR t.ENTITY_INDUSTRY like '%'||#{queryCon}||'%'OR t.ENTITY_SCALE like '%'||#{queryCon}||'%'OR t.ENTITY_TYPE like '%'||#{queryCon}||'%')
    </if>
    <if test="entityIndustry!=null and entityIndustry!=''">
      AND t.ENTITY_INDUSTRY_ID like '%'||#{entityIndustry}||'%'
    </if>
    <if test="entityType!=null and entityType!=''">
      AND t.ENTITY_TYPE_ID  =#{entityType}
    </if>
      )
  </select>

  <select id="findEnterpriseById" resultType="map" parameterType="java.lang.String" >
    SELECT * FROM TTS_SCLTXXCJ_REGISTER_V2 T
    WHERE t.ENTITY_IDCODE=#{enterpriseId} AND t.DEL_FLAG='N'
  </select>

  <select id="findSubjEntBadrecodeById" resultMap="BaseResultMap">
    SELECT * FROM (
    SELECT t.*,ROWNUM AS rn FROM(
    SELECT s.* FROM
    ASMS_SUBJ_ENT_BADRECORD s
    WHERE
    s.ENTERPRISE_ID=#{enterpriseId}
    AND s.DEL_FLAG='N'
    ORDER BY s.CREATE_TIME DESC
    ) t
    WHERE ROWNUM &lt;= #{pageTail}
    )
    WHERE rn &gt;= #{pageOffset}
  </select>

  <select id="getSubjEntBadrecordByIdCount" resultType="long">
    SELECT COUNT(*) FROM ASMS_SUBJ_ENT_BADRECORD s
   WHERE s.ENTERPRISE_ID=#{enterpriseId} AND s.DEL_FLAG='N'
  </select>

  <delete id="deleteBadrecordByPrimaryKey" parameterType="java.lang.String" >
    delete from ASMS_SUBJ_ENT_BADRECORD s
    where s.SOURCE_ID = #{sourceId,jdbcType=CHAR} AND s.DEL_FLAG='N'
  </delete>
  <resultMap id="EntTempMap" type="com.sofn.model.generator.AsmsSubjEntTemp">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="ENTITY_NAME" jdbcType="VARCHAR" property="entityName" />
    <result column="ENTITY_SCALE" jdbcType="VARCHAR" property="entityScale" />
    <result column="ENTITY_SCALE_ID" jdbcType="VARCHAR" property="entityScaleId" />
    <result column="ENTITY_TYPE" jdbcType="VARCHAR" property="entityType" />
    <result column="ENTITY_TYPE_ID" jdbcType="VARCHAR" property="entityTypeId" />
    <result column="ENTITY_INDUSTRY" jdbcType="VARCHAR" property="entityIndustry" />
    <result column="ENTITY_INDUSTRY_ID" jdbcType="VARCHAR" property="entityIndustryId" />
    <result column="CRED_TYPE" jdbcType="VARCHAR" property="credType" />
    <result column="CRED_TIME" jdbcType="VARCHAR" property="credTime" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="AREA_ID" jdbcType="VARCHAR" property="areaId" />
    <result column="CONTACT_NAME" jdbcType="VARCHAR" property="contactName" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone" />
    <result column="CONTACT_EMAIL" jdbcType="VARCHAR" property="contactEmail" />
    <result column="CREATE_BY" jdbcType="CHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_SUPERVISE_ID" jdbcType="CHAR" property="createSuperviseId" />
    <result column="UPDATE_BY" jdbcType="CHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ENABLE" jdbcType="CHAR" property="enable" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="IDENTITY_CODE" jdbcType="VARCHAR" property="identityCode" />
  </resultMap>
  <select id="selectByEntityIdCode" resultMap="EntTempMap" parameterType="map">
  select * from ASMS_SUBJ_ENT_TEMP s
  where s.IDENTITY_CODE =#{entityIdCode,jdbcType=VARCHAR} AND s.DEL_FLAG='N'
  </select>

</mapper>