<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.dao.generator.AsmsSubjEntBadrecordMapper">
  <resultMap id="BaseResultMap" type="com.sofn.model.generator.AsmsSubjEntBadrecord">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="ENTERPRISE_ID" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="BADRECORD_CONTENT" jdbcType="VARCHAR" property="badrecordContent" />
    <result column="CREATE_BY" jdbcType="CHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="BADRECORD_FILE" jdbcType="VARCHAR" property="badrecordFile" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
    <result column="SOURCE_ID" jdbcType="VARCHAR" property="sourceId" />
    <result column="SOURCE_TYPE" jdbcType="CHAR" property="sourceType" />
    <result column="BADRECORD_FILE_NAME" jdbcType="VARCHAR" property="badrecordFileName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ASMS_SUBJ_ENT_BADRECORD
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sofn.model.generator.AsmsSubjEntBadrecord">
    insert into ASMS_SUBJ_ENT_BADRECORD (ID, ENTERPRISE_ID, BADRECORD_CONTENT, 
      CREATE_BY, CREATE_TIME, BADRECORD_FILE, 
      DEL_FLAG, SOURCE_ID, SOURCE_TYPE, 
      BADRECORD_FILE_NAME)
    values (#{id,jdbcType=CHAR}, #{enterpriseId,jdbcType=VARCHAR}, #{badrecordContent,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{badrecordFile,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{sourceId,jdbcType=VARCHAR}, #{sourceType,jdbcType=CHAR}, 
      #{badrecordFileName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sofn.model.generator.AsmsSubjEntBadrecord">
    update ASMS_SUBJ_ENT_BADRECORD
    set ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR},
      BADRECORD_CONTENT = #{badrecordContent,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      BADRECORD_FILE = #{badrecordFile,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      SOURCE_ID = #{sourceId,jdbcType=VARCHAR},
      SOURCE_TYPE = #{sourceType,jdbcType=CHAR},
      BADRECORD_FILE_NAME = #{badrecordFileName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, ENTERPRISE_ID, BADRECORD_CONTENT, CREATE_BY, CREATE_TIME, BADRECORD_FILE, 
    DEL_FLAG, SOURCE_ID, SOURCE_TYPE, BADRECORD_FILE_NAME
    from ASMS_SUBJ_ENT_BADRECORD
    where ID = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ENTERPRISE_ID, BADRECORD_CONTENT, CREATE_BY, CREATE_TIME, BADRECORD_FILE, 
    DEL_FLAG, SOURCE_ID, SOURCE_TYPE, BADRECORD_FILE_NAME
    from ASMS_SUBJ_ENT_BADRECORD
  </select>
</mapper>