<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.dao.generator.AsmsSubjDtCancelMapper">
  <resultMap id="BaseResultMap" type="com.sofn.model.generator.AsmsSubjDtCancel">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="DT_ID" jdbcType="CHAR" property="dtId" />
    <result column="APPLY_REASON" jdbcType="VARCHAR" property="applyReason" />
    <result column="APPLY_USER_ID" jdbcType="CHAR" property="applyUserId" />
    <result column="APPLY_TIME" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="AUDIT_USER_ID" jdbcType="CHAR" property="auditUserId" />
    <result column="AUDIT_SV_ID" jdbcType="CHAR" property="auditSvId" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="AUDIT_SUGGESTION" jdbcType="VARCHAR" property="auditSuggestion" />
    <result column="AUDIT_STATE" jdbcType="CHAR" property="auditState" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
    <result column="ATTACHMENT" jdbcType="VARCHAR" property="attachment" />
    <result column="ATTACHMENT_NAME" jdbcType="VARCHAR" property="attachmentName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ASMS_SUBJ_DT_CANCEL
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sofn.model.generator.AsmsSubjDtCancel">
    insert into ASMS_SUBJ_DT_CANCEL (ID, DT_ID, APPLY_REASON, 
      APPLY_USER_ID, APPLY_TIME, AUDIT_USER_ID, 
      AUDIT_SV_ID, AUDIT_TIME, AUDIT_SUGGESTION, 
      AUDIT_STATE, DEL_FLAG, ATTACHMENT, 
      ATTACHMENT_NAME)
    values (#{id,jdbcType=CHAR}, #{dtId,jdbcType=CHAR}, #{applyReason,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=CHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{auditUserId,jdbcType=CHAR}, 
      #{auditSvId,jdbcType=CHAR}, #{auditTime,jdbcType=TIMESTAMP}, #{auditSuggestion,jdbcType=VARCHAR}, 
      #{auditState,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, #{attachment,jdbcType=VARCHAR}, 
      #{attachmentName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sofn.model.generator.AsmsSubjDtCancel">
    update ASMS_SUBJ_DT_CANCEL
    set DT_ID = #{dtId,jdbcType=CHAR},
      APPLY_REASON = #{applyReason,jdbcType=VARCHAR},
      APPLY_USER_ID = #{applyUserId,jdbcType=CHAR},
      APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      AUDIT_USER_ID = #{auditUserId,jdbcType=CHAR},
      AUDIT_SV_ID = #{auditSvId,jdbcType=CHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      AUDIT_SUGGESTION = #{auditSuggestion,jdbcType=VARCHAR},
      AUDIT_STATE = #{auditState,jdbcType=CHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      ATTACHMENT = #{attachment,jdbcType=VARCHAR},
      ATTACHMENT_NAME = #{attachmentName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, DT_ID, APPLY_REASON, APPLY_USER_ID, APPLY_TIME, AUDIT_USER_ID, AUDIT_SV_ID, 
    AUDIT_TIME, AUDIT_SUGGESTION, AUDIT_STATE, DEL_FLAG, ATTACHMENT, ATTACHMENT_NAME
    from ASMS_SUBJ_DT_CANCEL
    where ID = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, DT_ID, APPLY_REASON, APPLY_USER_ID, APPLY_TIME, AUDIT_USER_ID, AUDIT_SV_ID, 
    AUDIT_TIME, AUDIT_SUGGESTION, AUDIT_STATE, DEL_FLAG, ATTACHMENT, ATTACHMENT_NAME
    from ASMS_SUBJ_DT_CANCEL
  </select>
</mapper>