<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.generator.TtsScltxxcjScglMapper" >


  <resultMap id="BaseResultMap" type="com.sofn.model.generator.TtsScltxxcjScgl" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="BILL_STRATRUS" property="billStratrus" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="ENTITY_IDCODE" property="entityIdcode" jdbcType="VARCHAR" />
    <result column="PRODUCT_INNER_KEY" property="productInnerKey" jdbcType="VARCHAR" />
    <result column="MEDI_RESULT" property="mediResult" jdbcType="VARCHAR" />
    <result column="PRODUCT_SOURCE" property="productSource" jdbcType="VARCHAR" />
    <result column="HARVEST_BASEID" property="harvestBaseid" jdbcType="VARCHAR" />
    <result column="HARVEST_BASENAME" property="harvestBasename" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="PRODUCT_SORT" property="productSort" jdbcType="VARCHAR" />
    <result column="USER_IDCODE" property="userIdcode" jdbcType="VARCHAR" />
    <result column="PRODUCT_INDUSTRY" property="productIndustry" jdbcType="VARCHAR" />
    <result column="PRODUCT_AMOUNT" property="productAmount" jdbcType="DECIMAL" />
    <result column="STORE_COUNT" property="storeCount" jdbcType="DECIMAL" />
    <result column="FREEZE_COUNT" property="freezeCount" jdbcType="DECIMAL" />
    <result column="HARVEST_UNIT" property="harvestUnit" jdbcType="VARCHAR" />
    <result column="HARVEST_TIME" property="harvestTime" jdbcType="TIMESTAMP" />
    <result column="PRODUCT_PC" property="productPc" jdbcType="VARCHAR" />
    <result column="MEDI_CHECK" property="mediCheck" jdbcType="VARCHAR" />
    <result column="CHECK_IMAGENAME" property="checkImagename" jdbcType="VARCHAR" />
    <result column="CHECK_IMAGEPATH" property="checkImagepath" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="JOIN_FLAG" property="joinFlag" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="FROMZSM" property="fromzsm" jdbcType="VARCHAR" />
    <result column="UNIT_ID" property="unitId" jdbcType="VARCHAR" />
    <result column="INSIDE_TRACE_CODE" property="insideTraceCode" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TTS_SCLTXXCJ_SCGL
   where ID =#{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sofn.model.generator.TtsScltxxcjScgl" >
    insert into TTS_SCLTXXCJ_SCGL (ID
    , STATUS
    , BILL_STRATRUS
    , IP
    , ENTITY_IDCODE
    , PRODUCT_INNER_KEY
    , MEDI_RESULT
    , PRODUCT_SOURCE
    , HARVEST_BASEID
    , HARVEST_BASENAME
    , PRODUCT_NAME
    , PRODUCT_ID
    , PRODUCT_SORT
    , USER_IDCODE
    , PRODUCT_INDUSTRY
    , PRODUCT_AMOUNT
    , STORE_COUNT
    , FREEZE_COUNT
    , HARVEST_UNIT
    , HARVEST_TIME
    , PRODUCT_PC
    , MEDI_CHECK
    , CHECK_IMAGENAME
    , CHECK_IMAGEPATH
    , DEL_FLAG
    , JOIN_FLAG
    , CREATE_BY
    , UPDATE_BY
    , CREATE_TIME
    , UPDATE_TIME
    , FROMZSM
    , UNIT_ID
    , INSIDE_TRACE_CODE
   	)
    values (#{id,jdbcType=VARCHAR}
    , #{status,jdbcType=VARCHAR}
    , #{billStratrus,jdbcType=VARCHAR}
    , #{ip,jdbcType=VARCHAR}
    , #{entityIdcode,jdbcType=VARCHAR}
    , #{productInnerKey,jdbcType=VARCHAR}
    , #{mediResult,jdbcType=VARCHAR}
    , #{productSource,jdbcType=VARCHAR}
    , #{harvestBaseid,jdbcType=VARCHAR}
    , #{harvestBasename,jdbcType=VARCHAR}
    , #{productName,jdbcType=VARCHAR}
    , #{productId,jdbcType=VARCHAR}
    , #{productSort,jdbcType=VARCHAR}
    , #{userIdcode,jdbcType=VARCHAR}
    , #{productIndustry,jdbcType=VARCHAR}
    , #{productAmount,jdbcType=DECIMAL}
    , #{storeCount,jdbcType=DECIMAL}
    , #{freezeCount,jdbcType=DECIMAL}
    , #{harvestUnit,jdbcType=VARCHAR}
    , #{harvestTime,jdbcType=TIMESTAMP}
    , #{productPc,jdbcType=VARCHAR}
    , #{mediCheck,jdbcType=VARCHAR}
    , #{checkImagename,jdbcType=VARCHAR}
    , #{checkImagepath,jdbcType=VARCHAR}
    , #{delFlag,jdbcType=VARCHAR}
    , #{joinFlag,jdbcType=VARCHAR}
    , #{createBy,jdbcType=VARCHAR}
    , #{updateBy,jdbcType=VARCHAR}
    , #{createTime,jdbcType=TIMESTAMP}
    , #{updateTime,jdbcType=TIMESTAMP}
    , #{fromzsm,jdbcType=VARCHAR}
    , #{unitId,jdbcType=VARCHAR}
    , #{insideTraceCode,jdbcType=VARCHAR}
      )
  </insert>
  
   <update id="updateByPrimaryKey" parameterType="com.sofn.model.generator.TtsScltxxcjScgl" >
    update TTS_SCLTXXCJ_SCGL
    set
     STATUS =  #{status,jdbcType=VARCHAR},
     BILL_STRATRUS =  #{billStratrus,jdbcType=VARCHAR},
     IP =  #{ip,jdbcType=VARCHAR},
     ENTITY_IDCODE =  #{entityIdcode,jdbcType=VARCHAR},
     PRODUCT_INNER_KEY =  #{productInnerKey,jdbcType=VARCHAR},
     MEDI_RESULT =  #{mediResult,jdbcType=VARCHAR},
     PRODUCT_SOURCE =  #{productSource,jdbcType=VARCHAR},
     HARVEST_BASEID =  #{harvestBaseid,jdbcType=VARCHAR},
     HARVEST_BASENAME =  #{harvestBasename,jdbcType=VARCHAR},
     PRODUCT_NAME =  #{productName,jdbcType=VARCHAR},
     PRODUCT_ID =  #{productId,jdbcType=VARCHAR},
     PRODUCT_SORT =  #{productSort,jdbcType=VARCHAR},
     USER_IDCODE =  #{userIdcode,jdbcType=VARCHAR},
     PRODUCT_INDUSTRY =  #{productIndustry,jdbcType=VARCHAR},
     PRODUCT_AMOUNT =  #{productAmount,jdbcType=DECIMAL},
     STORE_COUNT =  #{storeCount,jdbcType=DECIMAL},
     FREEZE_COUNT =  #{freezeCount,jdbcType=DECIMAL},
     HARVEST_UNIT =  #{harvestUnit,jdbcType=VARCHAR},
     HARVEST_TIME =  #{harvestTime,jdbcType=TIMESTAMP},
     PRODUCT_PC =  #{productPc,jdbcType=VARCHAR},
     MEDI_CHECK =  #{mediCheck,jdbcType=VARCHAR},
     CHECK_IMAGENAME =  #{checkImagename,jdbcType=VARCHAR},
     CHECK_IMAGEPATH =  #{checkImagepath,jdbcType=VARCHAR},
     DEL_FLAG =  #{delFlag,jdbcType=VARCHAR},
     JOIN_FLAG =  #{joinFlag,jdbcType=VARCHAR},
     CREATE_BY = #{createBy,jdbcType=CHAR},
     CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
     UPDATE_BY = #{updateBy,jdbcType=CHAR},
     UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
     FROMZSM =  #{fromzsm,jdbcType=VARCHAR},
     UNIT_ID = #{unitId,jdbcType=VARCHAR},
     INSIDE_TRACE_CODE = #{insideTraceCode,jdbcType=VARCHAR}
     where ID =#{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID
    , STATUS
    , BILL_STRATRUS
    , IP
    , ENTITY_IDCODE
    , PRODUCT_INNER_KEY
    , MEDI_RESULT
    , PRODUCT_SOURCE
    , HARVEST_BASEID
    , HARVEST_BASENAME
    , PRODUCT_NAME
    , PRODUCT_ID
    , PRODUCT_SORT
    , USER_IDCODE
    , PRODUCT_INDUSTRY
    , PRODUCT_AMOUNT
    , STORE_COUNT
    , FREEZE_COUNT
    , HARVEST_UNIT
    , HARVEST_TIME
    , PRODUCT_PC
    , MEDI_CHECK
    , CHECK_IMAGENAME
    , CHECK_IMAGEPATH
    , DEL_FLAG
    , JOIN_FLAG
    , CREATE_BY
    , UPDATE_BY
    , CREATE_TIME
    , UPDATE_TIME
    , FROMZSM
    , UNIT_ID
    , INSIDE_TRACE_CODE
    from TTS_SCLTXXCJ_SCGL
     where ID =#{id,jdbcType=VARCHAR}
  </select>
  
  </mapper>