<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.tts.TtsScltxxcjCgglExpandMapper" >



    <resultMap id="CgglAndCustomer" type="com.sofn.model.generator.TtsScltxxcjCgglAndCustomer" extends="BaseResultMap">
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="XSNAME" property="xsName" jdbcType="VARCHAR" />
        <result column="NUM" property="num" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="TtsScltxxcjCgglAndUserInfo" type="com.sofn.model.generator.TtsScltxxcjCgglAndUserInfo" extends="BaseResultMap">
        <result column="EN_TYPE" property="enType" jdbcType="VARCHAR" />
        <result column="EN_NAME" property="enName" jdbcType="VARCHAR" />
        <result column="EN_INDUSTRY" property="enIndustry" jdbcType="VARCHAR" />
        <result column="EN_AREA" property="enArea" jdbcType="VARCHAR" />
    </resultMap>

 <resultMap id="BaseResultMap" type="com.sofn.model.generator.TtsScltxxcjCggl" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="PRODUCT_INDUSTRY" property="productIndustry" jdbcType="VARCHAR" />
    <result column="PRODUCT_SORT" property="productSort" jdbcType="VARCHAR" />
    <result column="PRODUCT_SCGL_ID" property="productScglId" jdbcType="VARCHAR" />
    <result column="CG_AMOUNT" property="cgAmount" jdbcType="DECIMAL" />
    <result column="ENTITY_IDCODE" property="entityIdcode" jdbcType="VARCHAR" />
    <result column="USER_IDCODE" property="userIdcode" jdbcType="VARCHAR" />
    <result column="SALE_ENTITY_IDCODE" property="saleEntityIdcode" jdbcType="VARCHAR" />
    <result column="SALE_USER_IDCODE" property="saleUserIdcode" jdbcType="VARCHAR" />
    <result column="CG_DW" property="cgDw" jdbcType="VARCHAR" />
    <result column="CONFIRM_STATE" property="confirmState" jdbcType="VARCHAR" />
    <result column="TRACE_CODE" property="traceCode" jdbcType="VARCHAR" />
    <result column="ZJRESULT" property="zjresult" jdbcType="VARCHAR" />
    <result column="SALE_TIME" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="CONFIRM_TIME" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="PRODUCT_MODEL" property="productModel" jdbcType="VARCHAR" />
    <result column="BUY_COM_USER_ID" property="buyComUserId" jdbcType="VARCHAR" />
    <result column="SALE_USER" property="saleUser" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="FROMZSM" property="fromzsm" jdbcType="VARCHAR" />
    <result column="TOZSM" property="tozsm" jdbcType="VARCHAR" />
    <result column="PRODUCT_CGPC" property="productCgpc" jdbcType="VARCHAR" />
    <result column="PRODUCT_CGPC_SL" property="productCgpcSl" jdbcType="VARCHAR" />
    <result column="XSDJID" property="xsdjid" jdbcType="VARCHAR" />
    <result column="ZJCHECK" property="zjcheck" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <select id="getPageInfo" parameterType="hashmap" resultType="map">
    SELECT Tab.*
    FROM (
    SELECT T.*,ROW_NUMBER() OVER(ORDER BY T.ID DESC) AS NUM from TTS_SCLTXXCJ_CGGL T
    where 1 = 1 AND T.DEL_FLAG != 'Y'
    )Tab
    WHERE Tab.NUM BETWEEN 1+#{pageSize}*(#{pageNum}-1) AND #{pageSize}*#{pageNum}
  </select>
  
  
  <select id="getCount" parameterType="hashmap" resultType="long">
    SELECT COUNT(*) FROM TTS_SCLTXXCJ_CGGL T
    where 1 = 1 AND T.DEL_FLAG != 'Y'
  </select>

  <select id="getCgglForZsm"  parameterType="hashmap" resultMap="CgglAndCustomer">
     SELECT T.*,C.NAME,C.USER_NAME,
      C.PHONE,C.ADDRESS
     from TTS_SCLTXXCJ_CGGL T
     INNER JOIN TTS_SCLTXXCJ_CUSTOMER C ON
      T .SALE_ENTITY_IDCODE = C.ENTITY_ID_CODE
      AND T .USER_IDCODE = C.CUSTOMER_USER_ID_CODE
     <if test="fromzsm != null and fromzsm != ''">
        and T.FROMZSM = #{fromzsm}
    </if>
  </select>


  <select id="zsmIsCgOrXs" parameterType="hashmap" resultType="long">
       SELECT COUNT(1) FROM tts_scltxxcj_cggl C
       where C.fromzsm = #{zsm}
       and c.entity_idcode = #{entity_id}
  </select>

    <select id="isExists" parameterType="string" resultType="long">
        SELECT COUNT(1) FROM tts_scltxxcj_cggl C
        where C.fromzsm = #{code} and C.DEL_FLAG != 'Y'
    </select>

    <select id="getInfoByTraceCodeFromCg"  parameterType="string" resultMap="TtsScltxxcjCgglAndUserInfo">
        SELECT X.PRODUCT_NAME,X.SALE_TIME,X.CG_AMOUNT,X.ZJCHECK,X.PRODUCT_SCGL_ID,X.DEL_FLAG,X.SALE_USER_IDCODE,
        C.ENTERPRISE_NAME AS EN_NAME,
        C.ENTITY_TYPE AS EN_TYPE,
        C.ENTITY_INDUSTRY AS EN_INDUSTRY,
        C.AREA AS EN_AREA
        FROM TTS_SCLTXXCJ_CGGL X
        INNER JOIN TTS_SCLTXXCJ_REGISTER C ON X.ENTITY_IDCODE = C.ENTITY_IDCODE
        AND X.USER_IDCODE = C.USER_IDCODE
        WHERE X.FROMZSM =#{code,jdbcType=VARCHAR} AND X.DEL_FLAG != 'Y'
    </select>
    <select id="getInfoByTraceCodeFromCgforUsual" resultMap="TtsScltxxcjCgglAndUserInfo" parameterType="java.lang.String">
        SELECT X.PRODUCT_NAME,X.SALE_TIME,X.ZJCHECK,X.DEL_FLAG
        FROM TTS_SCLTXXCJ_CGGL X
        WHERE X.FROMZSM =#{code,jdbcType=VARCHAR} AND X.DEL_FLAG != 'Y'
    </select>

    <select id="getInfoByTraceCode" parameterType="hashmap" resultMap="TtsScltxxcjCgglAndUserInfo">
        SELECT
        <if test='userType != "4"'>
            X.PRODUCT_NAME,X.SALE_TIME,X.CG_AMOUNT,X.ZJCHECK,X.PRODUCT_SCGL_ID,X.DEL_FLAG,X.SALE_USER_IDCODE,
            C.ENTERPRISE_NAME AS EN_NAME,
            C.ENTITY_TYPE AS EN_TYPE,
            C.ENTITY_INDUSTRY AS EN_INDUSTRY,
            C.AREA AS EN_AREA
        </if>
        <if test='userType == "4"'>
            X.PRODUCT_NAME,X.SALE_TIME,X.ZJCHECK,X.DEL_FLAG
        </if>
        FROM TTS_SCLTXXCJ_CGGL X
        INNER JOIN TTS_SCLTXXCJ_REGISTER C ON X.ENTITY_IDCODE = C.ENTITY_IDCODE
        AND X.USER_IDCODE = C.USER_IDCODE
        WHERE X.FROMZSM =#{code,jdbcType=VARCHAR} AND X.DEL_FLAG != 'Y'
    </select>
</mapper>