<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.tts.TtsScltxxcjProposalExpandMapper" >

 <resultMap id="BaseResultMap" type="com.sofn.model.generator.TtsScltxxcjProposal" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
    <result column="ATTACH_NAME" property="attachName" jdbcType="VARCHAR" />
    <result column="ATTACH_PATH" property="attachPath" jdbcType="VARCHAR" />
    <result column="ENTITY_IDCODE" property="entityIdcode" jdbcType="VARCHAR" />
    <result column="USER_IDCODE" property="userIdcode" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <select id="getPageInfo" parameterType="hashmap" resultType="map">
    SELECT Tab.*
    FROM (
    SELECT T.*,ROW_NUMBER() OVER(ORDER BY T.ID DESC) AS NUM from TTS_SCLTXXCJ_PROPOSAL T
    where 1 = 1
    )Tab
    WHERE Tab.NUM BETWEEN 1+#{pageSize}*(#{pageNum}-1) AND #{pageSize}*#{pageNum}
  </select>
  
  
  <select id="getCount" parameterType="hashmap" resultType="long">
    SELECT COUNT(*) FROM TTS_SCLTXXCJ_PROPOSAL 
    where 1 = 1
  </select>


</mapper>