<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.dao.tts.TtsScltxxcjSlaRecordExpandMapper" >

    <resultMap id="BaseResultMap" type="com.sofn.model.generator.TtsScltxxcjSlaRecord" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="SLAUGHTER_TIME" property="slaughterTime" jdbcType="TIMESTAMP" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="PRODUCT_PC" property="productPc" jdbcType="VARCHAR" />
        <result column="SLAUGHTER_AMOUNT" property="slaughterAmount" jdbcType="VARCHAR" />
        <result column="IP" property="ip" jdbcType="VARCHAR" />
        <result column="INSIDE_TRACE_CODE" property="insideTraceCode" jdbcType="VARCHAR" />
        <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <select id="getPageInfo" parameterType="hashmap" resultType="map">
    SELECT Tab.*
    FROM (
    SELECT T.*,ROW_NUMBER() OVER(ORDER BY T.ID DESC) AS NUM from TTS_SCLTXXCJ_SLAUGHTER_RECORD T
    where 1 = 1 AND T.DEL_FLAG != 'Y'
    )Tab
    WHERE Tab.NUM BETWEEN 1+#{pageSize}*(#{pageNum}-1) AND #{pageSize}*#{pageNum}
  </select>


    <select id="getCount" parameterType="hashmap" resultType="long">
    SELECT COUNT(*) FROM TTS_SCLTXXCJ_SLAUGHTER_RECORD T
    where 1 = 1 AND T.DEL_FLAG != 'Y'
  </select>

    <select id="findById" parameterType="hashmap" resultType="map">
        select S.*,
            C.HARVEST_UNIT,C.HARVEST_BASENAME,
            C.MEDI_CHECK,ROWNUM
            from TTS_SCLTXXCJ_SLAUGHTER_RECORD s
            INNER JOIN TTS_SCLTXXCJ_SCGL c
            ON s.PRODUCT_PC = c.PRODUCT_PC
            where s.INSIDE_TRACE_CODE =
            (select t.INSIDE_TRACE_CODE from TTS_SCLTXXCJ_SCGL t
            where t.id = #{id})
    </select>
    <select id="findCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(*) FROM (
          select S.*,
            C.HARVEST_UNIT,
            C.MEDI_CHECK,ROWNUM
            from TTS_SCLTXXCJ_SLAUGHTER_RECORD s
            INNER JOIN TTS_SCLTXXCJ_SCGL c
            ON s.PRODUCT_PC = c.PRODUCT_ID
            where s.INSIDE_TRACE_CODE =
            (select t.INSIDE_TRACE_CODE from TTS_SCLTXXCJ_SCGL t
            where t.id = #{id})
        )
    </select>

</mapper>