<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.dao.generator.SysCodeRuleMapper">
  <resultMap id="BaseResultMap" type="com.sofn.model.generator.SysCodeRule">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName" />
    <result column="RULE_CODE" jdbcType="VARCHAR" property="ruleCode" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="RESERVED_FIELD2" jdbcType="VARCHAR" property="reservedField2" />
    <result column="RESERVED_FIELD1" jdbcType="VARCHAR" property="reservedField1" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_CODE_RULE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sofn.model.generator.SysCodeRule">
    insert into SYS_CODE_RULE (ID, RULE_NAME, RULE_CODE, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, DEL_FLAG, RESERVED_FIELD2, 
      RESERVED_FIELD1)
    values (#{id,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{ruleCode,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField1,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sofn.model.generator.SysCodeRule">
    update SYS_CODE_RULE
    set RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      RULE_CODE = #{ruleCode,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD1 = #{reservedField1,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, RULE_NAME, RULE_CODE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
    DEL_FLAG, RESERVED_FIELD2, RESERVED_FIELD1
    from SYS_CODE_RULE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, RULE_NAME, RULE_CODE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
    DEL_FLAG, RESERVED_FIELD2, RESERVED_FIELD1
    from SYS_CODE_RULE
  </select>
</mapper>